@media screen and (max-width: 425px) {
  header {
    background-image: url(../images/bg-header-mobile.png);
    height: auto;
    padding: 15px 10px;
    padding-top: 50px;
    gap: 50px;
  }
  .text__title {
    width: 80%;
    font-size: 28px;
    line-height: 110%;
    text-align: center;
  }
  .text__description {
    width: 80%;
    font-size: 16px;
  }
  .container__btns {
    width: 100%;
    flex-direction: column;
  }
  .container__btns button {
    width: 80%;
    padding: 25px 0px;
  }

  .main__desktop-section {
    flex-direction: column;
    height: auto;
    gap: 30px;
  }
  .desktop__image,
  .desktop__list {
    width: 80%;
    gap: 80px;
  }

  .list__item,
  .horizontal,
  .list__item > p {
    align-items: center;
    text-align: center;
  }

  .options__list-skills {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0px 10px;
  }
  .item__img {
    width: 100%;
    text-align: center;
  }

  footer {
    flex-direction: column;
    padding: 30px 10px;
    height: auto;
    gap: 30px;
  }

  .footer__list {
    flex-wrap: nowrap;
    height: auto;
    align-items: center;
  }
}
