@media screen and (max-width: 425px) {
  header {
    background-image: url(../images/bg-header-mobile.png);
    height: auto;
    padding: 15px 10px;
    padding-top: 50px;
    gap: 50px;
  }
  .header__title {
    width: 80%;
    font-size: 28px;
    line-height: 110%;
    text-align: center;
  }
  .header__description {
    width: 80%;
    font-size: 16px;
  }
  .container__btns {
    width: 100%;
    flex-direction: column;
  }
  .container__btns button {
    width: 80%;
    padding: 25px 0px;
  }
}
